option_settings:
  aws:elasticbeanstalk:application:environment:
    # Django 설정
    DJANGO_SETTINGS_MODULE: "proj.settings"
    SECRET_KEY: "django-insecure-!pdm2(!5b9_oae1-)!m#d8ozdd#wr$%%+x-0ult+oaw6vd@3bm"
    DEBUG: "False"
    ALLOWED_HOSTS: "restaurant-dev.elasticbeanstalk.com"

    # RDS 연결 정보
    RDS_DB_NAME: "restaurant_db"
    RDS_USERNAME: "restaurant_user"
    RDS_PASSWORD: "DjangoUserPass!123"
    RDS_HOSTNAME: "airest-d.cfwgaqsu2fpk.ap-northeast-2.rds.amazonaws.com"
    RDS_PORT: "3306"

    # S3 정적/미디어 파일
    AWS_ACCESS_KEY_ID: "AKIA2CZVEQKDYQ7K6LKA"
    AWS_SECRET_ACCESS_KEY: "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"
    AWS_STORAGE_BUCKET_NAME: "airest-dev"
    AWS_S3_REGION_NAME: "ap-northeast-2"

container_commands:
  01_migrate:
    leader_only: true
    command: |
      set -a
      source /opt/elasticbeanstalk/deployment/env
      set +a
      source /var/app/venv/*/bin/activate
      cd /var/app/current
      python3 manage.py migrate --noinput

  02_collectstatic:
    leader_only: true
    command: |
      set -a
      source /opt/elasticbeanstalk/deployment/env
      set +a
      source /var/app/venv/*/bin/activate
      cd /var/app/current
      python3 manage.py collectstatic --noinput
