packages:
  yum:
    mariadb105-devel: []

container_commands:
  01_migrate:
    # 마이그레이션 → leader_only: true 로 한 번만 실행
    command: |
      source /var/app/venv/*/bin/activate
      cd /var/app/current
      python3 manage.py migrate --noinput
    leader_only: true

  02_collectstatic:
    # collectstatic → leader_only: true 로 한 번만 실행
    command: |
      source /var/app/venv/*/bin/activate
      cd /var/app/current
      python3 manage.py collectstatic --noinput
    leader_only: true

option_settings:

  # ─── Python 컨테이너 설정 ───
  aws:elasticbeanstalk:container:python:
    WSGIPath: proj.wsgi:application

  # ─── Django 환경변수 ───
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "proj.settings"
    SECRET_KEY:          "django-insecure-!pdm2(!5b9_oae1-)!m#d8ozdd#wr$%%+x-0ult+oaw6vd@3bm"
    DEBUG:               "False"
    ALLOWED_HOSTS:       "AIRestaurant‑dev.ap‑northeast-2.elasticbeanstalk.com,localhost,127.0.0.1"
    DB_NAME:             "restaurant_db"
    DB_USER:             "restaurant_user"
    DB_PASSWORD:         "DjangoUserPass!123"
    DB_HOST:             "airest-d.cfwgaqsu2fpk.ap-northeast-2.rds.amazonaws.com"
    DB_PORT:             "3306"

  # ─── nginx 에게 /static 경로를 static 폴더로 매핑 ───
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
